body{
  background: url(Soul.png);
  background-repeat: no-repeat;
  width: 600px
}

.soultext{
  font-weight: bold;
    font-family: Arial, Helvetica, ;
  text-align: right;
  color: #FFFFFF;
}

h1{
  font family: Impact, ;
  font-weight: bold;
  text-align: center;
  color: #2E9AFE;
  font-size: 150px
}

.PG{
display: block;
margin-left: auto;
margin-right: auto;

}

.description{
  font-family: Arial, Helvetica, ;
  font-weight: bold;
  color: #2E9AFE;
  text-align: center;
  padding-top: 450px
}

a{
  font-weight: bold;
    color: #2E9AFE;
    text-decoration: none;
padding-left: 215px;
  text-align: justify, center;
}

a:hover{
  text-decoration: underline;
  color: #FE9A2E
}

.O{
  color: #FF8000;
}
